@{
  Layout = "_Layout";
}

<h1>Welcome to the University!</h1>
<p>@Html.ActionLink("View all currently enrolled students", "Index", "Students")</p>
<p>@Html.ActionLink("View the course catalog", "Index", "Courses")</p>
<p>@Html.ActionLink("View all departments", "Index", "Departments")</p>