@{
  Layout = "_Layout";
}

<h1>Welcome to the University!</h1>
<p>@Html.ActionLink("See all currently enrolled students", "Index", "Students")</p> <p>@Html.ActionLink("View the course catalog", "Index", "Courses")</p>